<!DOCTYPE html>
<html lang="it">
    <head>    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1.0">
        <meta name="author" content="Bastianello Federico">

        <script src="../static/js/javascript.js"></script>  
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <link href="../static/css/style.css" rel="StyleSheet">
        <link rel="icon" type="image/x-icon" href="../static/img/portfolio.png">
        <style>
            .about_me img{
                border-top:1px solid black;
                border-bottom: 10px solid rgb(31, 30, 30);
                border-left:10px solid black;
            }

            .presentazione{
                background-color: #1b1a1a;
                color:#fff;
                padding:4%;
                margin-right:15%;
            }
            .presentazione a{
                color:#fff;
                margin-top:2%;
                transition:all .7s;
            }
            .presentazione a:hover{
                color:#df2b4b;
            }
        </style>
    </head>
    <body>
        <div style="display:flex; flex-direction: column"> <!-- DIV DA NON TOCCARE -->
            <header>
                <div class="topbar">
                    <div class="titolo_top">
                        <a href="/" ><span style="color:black">My Port</span><span style="color:#df2b4b">Folio</span></a>
                    </div>
                    <div class="group_link">
                        <a href="../project/">Project</a>
                        <a href="../certificazioni/">Certificazioni</a>
                        <a href="../contattami/">Contact Me</a>
                    </div>
                </div>
            </header>

            <main style="display: flex; flex-direction: column;"> <!--     CORPO PAGINA        -->
                <div class="presentazione">
                    <a href="https://github.com/naga272/certificazioni"><h3>Certificazioni (press here)</h3></a>
                    <br>
                    <ul>
                        <li>
                            The C language<br>
                            This 6.5 hour course about:<br>
                            <ul>
                                <li>C library standard</li>
                                <li>Type of variable</li>
                                <li>standard input and output</li>
                                <li>iterator such as for, while, do-while</li>
                                <li>pointer</li>
                                <li>function</li>
                                <li>read and write of file</li>
                                <li>compile a program with CLI</li>
                                <li>complex data types (union, struct, ...)</li>
                            </ul>
                        </li><br>
                        <li>
                            HTML5 e CSS3<br> 
                            This 15 hour course about:
                            <ul>
                                <li>general web page struct</li>
                                <li>Using the intestations like h1, h2, h3 </li>
                                <li>Create order and unorder list</li>
                                <li>Create form using the fieldset, input, select and the new tag html5</li>
                                <li>The difference between &lt;i&gt; and &lt;cite&gt;, &lt;strong&gt; and &lt;b&gt;,and other tag</li>
                                <li>understand how can be use the tag type block and the tag type inline</li>
                                <li>Using tag audio and video</li>
                                <li>Create table html</li>
                                <li>Using Css for change the web page element</li>
                            </ul>
                        </li><br>
                        <li>
                            boolean week<br>
                            I took a course about front-end development, including DOM manipulation with JavaScript, HTML5 and CSS:
                            <ul>
                                <li>5 live lesson (10 hours)</li>
                                <li>4 web apps created</li>
                            </ul>
                        </li><br>
                        <li>
                            Javascript<br>
                            This 7 hour course about:
                            <ul>
                                <li>variable type (Array, string, integer)</li>
                                <li>Definition and call function</li>
                                <li>Definition arrow function</li>
                                <li>costruct if - else</li>
                                <li>iterator such as while, for and do-while</li>
                                <li>basic of oop (object Oriented Programming)</li>
                                <li>DOM (Document Object Model)</li>
                                <li>JQuery</li>
                            </ul>
                        </li><br>
                        <li>
                            Object oriented programming with Python<br>
                            This 3.5 hour course about:
                            <ul>
                                <li>defining class</li>
                                <li>ereditarity class</li>
                                <li>class super</li>
                                <li>multiply ereditarity</li>
                                <li>static methods and private attribute</li>
                                <li>hot to use pip</li>
                                <li>how to create a venv</li>
                                <li>how to create a package</li>
                                <li>how to create an .exe with pyinstaller</li>
                            </ul>
                        </li><br>
                        <li>
                            I took a corses about C++ for total of 25 hour:<br>
                            <ul>
                                <li>basic of c++</li>
                                <li>selective costruct</li>
                                <li>iterator costruct</li>
                                <li>vector</li>
                                <li>typedef</li>
                                <li>struct</li>
                                <li>dinamic memory</li>
                                <li>function</li>
                                <li>read and write on file</li>
                                <li>OOP (object oriented programming)</li>
                            </ul>
                        </li><br>
                        <li>
                            Django, Bootstrap e python<br>
                            This 24 hour course about:
                            <ul>
                                <li>How to create a Web Framework Django for the creation of Professional web application</li>
                                <li>How to program with python 3 and the base OOP</li>
                                <li>How to use Bootstrap 5 for create a Modern Site and responsive</li>
                                <li>How to use HTML5 for the creation of web page and CSS for the personalizzation</li>
                                <li>How to use Python 3 for the creation of back-end for a web site</li>
                            </ul>
                        </li><br>
                        <li>
                            assembler 8086<br>
                            This 6 hour course about:
                            <ul>
                                <li>Base command shell for operative system Linux</li>
                                <li>Cpu register</li>
                                <li>General struct file .asm</li>
                                <li>Assembly instraction</li>
                                <li>conditional jump</li>
                                <li>the array</li>
                                <li>the stack</li>
                                <li>assembly function</li>
                                <li>Interface C with Assembly</li>
                                <li>Input e Output</li>
                            </ul>
                        </li><br>
                        <li>
                            Python for machine learning and Artificial Intelligence:<br>
                            This 11.5 hour course about: 
                            <ul>
                                <li>OOP</li>
                                <li>exctraction dates from file</li>
                                <li>try, except, raise</li>
                                <li>standard library</li>
                                <li>numpy library</li>
                                <li>create an Artificial Neural Network</li>
                                <li>training an Neural Network</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </main>

            <div class="bottombar">
                <div class="firsttt">
                    <h3>Support</h3>
                    <a href="contattami/">press here</a>
                </div>
                <div class="seconddd">
                    <h3>contact me</h3>
                    <a href="contattami/">press here</a>
                </div>
                <div class="terzooo">
                    Sito creato da
                    <h3>Bastianello Federico</h3>
                </div>
            </div>
        </div> <!-- DIV DA NON TOCCARE -->
        <script type="text/javascript">
            $("head").append("<title>Certificazioni</title>");
            $("head").append("<meta charset='utf-8'>");
            $("head").append("<meta name='viewport' content='width=device-width, initial-scale=1.0'>");
            $("head").append("<meta name='author' content='Bastianello Federico'>");
            $("head").append("<meta name='content' content='programmatore front-end e back-end, programmatore C, Python user'>");
            $("head").append("<meta name='KeyWords' content='HTML5 CSS3 JS C Python frontend backend sviluppatore'>");
        </script>
        <script>controllaTipoDispositivo();</script>
    </body>
</html>
