<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device, initial-scale=1.0">
        <meta name="author" content="Bastianello Federico">

        <script src="../static/js/javascript.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <link href="../static/css/style.css" rel="StyleSheet">
        <link rel="icon" type="image/x-icon" href="../static/img/portfolio.png">
        <style>
            .about_me img{
                border-top:1px solid black;
                border-bottom: 10px solid rgb(31, 30, 30);
                border-left:10px solid black;
            }
        </style>
    </head>
    <body>
        <div style="display:flex; flex-direction: column;"> <!-- DIV DA NON TOCCARE -->
            <header>
                <div class="topbar">
                    <div class="titolo_top">
                        <a href="/"><span style="color:black">My Port</span><span style="color:#df2b4b">Folio</span></a>
                    </div>
                    <div class="group_link">
                        <a href="project/">Project</a>
                        <a href="certificazioni/">Certificazioni</a>
                        <a href="contattami/">Contact Me</a>
                    </div>
                </div>
            </header>


            <main style="display: flex; flex-direction: column;"> <!--     CORPO PAGINA        -->
                
                <div style="background-color: #333; color:#fff; height:100vh; width:80vh; margin-left: 10vh; margin-right: 10vh; margin-top: 15vh; margin-bottom: 10vh; padding:1%">
                    <h3>Errore!</h3>
                    <div>
                        <p>
                            Mi dispiace ma qualcosa è andato storto durante l'accesso a una pagina del sito web!<br><br>
                            Ecco un elenco di possibili cause dell'errore:
                            <ul>
                                <li>
                                    l'accesso al sito è consentito solo da dispositivi che hanno uno schermo maggiore di 1280.
                                </li>
                                <li>
                                    il sistema operativo che stai usando non è di tipo windows oppure Unix-like.
                                </li>
                            </ul>
                        </p>
                    </div>        
                </div>
            
            </main>

            <div class="bottombar">
                <div class="firsttt">
                    <h3>Support</h3>
                    <a href="contattami/">press here</a>
                </div>
                <div class="seconddd">
                    <h3>contact me</h3>
                    <a href="contattami/">press here</a>
                </div>
                <div class="terzooo">
                    Sito creato da
                    <h3>Bastianello Federico</h3>
                </div>
            </div>
        </div> <!-- DIV DA NON TOCCARE -->
        <script type="text/javascript">
            $("head").append("<title>HomePage</title>");
            $("head").append("<meta charset='utf-8'>");
            $("head").append("<meta name='viewport' content='width=device-width, initial-scale=1.0'>");
            $("head").append("<meta name='author' content='Bastianello Federico'>");
            $("head").append("<meta name='content' content='programmatore front-end e back-end, programmatore C, Python user'>");
            $("head").append("<meta name='KeyWords' content='HTML5 CSS3 JS C Python frontend backend sviluppatore'>");
        </script>
    </body>
</html>
